@{
    bool IsHome = this.ViewContext.RouteData.Values["Controller"].ToString() == "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kuchulem</title>
    <!-- Fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <!-- icons fonts -->
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/prism.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <header role="banner" class="light-bottom-shadow @(IsHome ? "" : "slim")">
        <div role="heading">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                <partial name="Logo.cshtml" />
                Kuchulem
            </a>
            <p role="definition">A dev's diary</p>
        </div>
        <nav role="navigation">
            <a role="button" class="icon-menu"></a>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                </li>
                @await Component.InvokeAsync("PagesMenuList")
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer role="contentinfo">
        <div>
            <section>
                <h2>Retrouvez-moi sur github</h2>
                <ul class="social-links">
                    <li><a target="_blank" href="https://github.com/Kuchulem"><img src="/pictures/social/github_small.svg" alt="Kuchulem on GitHub" /></a></li>
                </ul>
            </section>
            <section>
                <partial name="Logo.cshtml" />
                &copy; 2020 - Kuchulem
            </section>
            <section>
                <p>
                    @await Component.InvokeAsync("PageLink", "privacy")
                </p>
            </section>
        </div>
        <div role="complementary">
            Réalisé avec @await Component.InvokeAsync("PageLink", "kuchulem-markdownblog-project")
        </div>
    </footer>
    <script src="~/js/prism.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
