@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}
@model Kuchulem.MarkdownBlog.Core.Models.Articles.ArticleViewModel
@section Stylesheets {
    <link rel="stylesheet" href="~/css/article.css" />
}
<Article role="article">
    <div class="article-pic light-borders bottom-shadow-3d" style="background-image:url('@(Model.MainPicture)')">
        @if (!string.IsNullOrEmpty(Model.MainPictureCredits))
        {
            <span class="picture-credits">@Model.MainPictureCredits</span>
        }
        <h1>@Html.DisplayFor(m => m.Title)</h1>
    </div>
    <section class="publication" role="contentinfo">
        <span>Published on @(Model.PublicationDate.ToString("D", culture))</span> by <a class="author">@(Model.Author)</a>
        dans
        @foreach (var tag in Model.Tags)
        {
            <a class="tag">@tag</a>
        }
    </section>
    <section class="summary">
        @Html.Raw(Model.Summary)
    </section>
    <section class="content">
        @Html.Raw(Model.HtmlContent)
    </section>
</Article>
